.category-container{
    display: flex;
    width: 100%;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    font:300 1vmax Roboto;
   
   
}